<td>{{cat.id}}</td>
<td>{{cat.name}}</td>
<td>{{cat.weight}}</td>
<td><img src={{cat.avatarUrl}} class="ui mini rounded image"/></td>
<td><span class="ui label {{labelClass}}" date-test-state>{{cat.state}}</span></td>
<td>{{cat.fluffiness}}</td>
<td>{{#link-to "cats.cat" cat}}show{{/link-to}}</td>