<main class="ui container">
  <h1>My cats</h1>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Avatar</th>
        <th>Fluffiness</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |cat|}}
        <tr data-test-cat>
          <td>{{cat.id}}</td>
          <td>{{cat.name}}</td>
          <td>{{cat.weight}}</td>
          <td><img src={{cat.avatarUrl}} class="ui mini rounded image"/></td>
          <td>{{cat.fluffiness}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>